@import url('https://fonts.googleapis.com/css?family=PT+Sans');

* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none !important;
	box-sizing: border-box;
	position: relative;
	outline: none;
}
html {
	font-size: 62.5%;
}
body {
	font-family: 'Helvetica Neue', sans-serif;
	font-family: 'PT Sans', sans-serif;
}
.notification {
	font-size: 1.6rem;
}
.loader {
	color: $pink;
}
